{
  "extends": [
      "eslint:recommended",
      "plugin:monorepo/recommended",
      "prettier",
      "prettier/flowtype"
  ],
  "parser": "babel-eslint",
  "plugins": ["monorepo"],
  "globals": {
    "define": true,
    "SharedArrayBuffer": true
  },
  "rules": {
    "indent": [ "error", 2 ],
    "quotes": [ "error", "single" ],
    "semi": [ "error", "always" ],
    "require-atomic-updates": "off"
  },
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  }
}
